body {
    margin: 0;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    min-width: 400px;
    
}

input {
    width: 100%; /*100% + 10px +10px */
    padding: 10px;
    box-sizing: border-box; /* to avoid full width of input tab */
    border: 1px solid #5f9341;
    margin-bottom: 4px;
}

button {
    background-color:  #5f9341;
    color: white;
    padding:10px 20px;
    border: none;
    font-weight: bold;

}
ul{
    margin-top: 20px;
    list-style:none ;
    padding-left: 0;
}
li{
    margin-top: 5px;
}

a{
    color:#5f9341;
}
#Delete-btn{
    background-color: tomato;
    color: white;
}